USE [HAL_KPT24]
GO
/****** Object:  Table [dbo].[ADMIN_USERS]    Script Date: 30-07-2024 18:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN_USERS](
	[USERID] [nvarchar](20) NULL,
	[PASSWORD] [nvarchar](20) NULL,
	[AUTH] [nvarchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AGE_CATEGORY_TYPES]    Script Date: 30-07-2024 18:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGE_CATEGORY_TYPES](
	[SEQ] [decimal](18, 0) NULL,
	[CATEGORY_NAME] [nvarchar](20) NULL,
	[MIN_AGE] [decimal](8, 0) NULL,
	[ENTRY_AGE] [decimal](8, 0) NULL,
	[RELAXATION_YEARS] [decimal](8, 0) NULL,
	[PWBD_RELAXATION] [decimal](8, 0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[APPLICANT]    Script Date: 30-07-2024 18:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPLICANT](
	[USERID] [nvarchar](20) NULL,
	[PASSWORD] [nvarchar](20) NULL,
	[APPRENTICE_NO] [nvarchar](25) NULL,
	[NAME1] [nvarchar](255) NULL,
	[COMMUNICATION_ADDRESS1] [nvarchar](255) NULL,
	[DOB2] [nvarchar](25) NULL,
	[MOBILE1] [nvarchar](25) NULL,
	[EMAIL1] [nvarchar](255) NULL,
	[POST1] [nvarchar](255) NULL,
	[APPLICANT_NAME] [nvarchar](150) NULL,
	[APPLIED_DISCIPLINE] [nvarchar](99) NULL,
	[DOB] [date] NULL,
	[DOB_DD] [int] NULL,
	[DOB_MM] [int] NULL,
	[DOB_YYYY] [int] NULL,
	[APPLICANT_AGE] [nvarchar](40) NULL,
	[CATEGORY_APPLIED] [nvarchar](20) NULL,
	[CASTE_CERT_NO] [nvarchar](30) NULL,
	[CASTE_CERT_ISSUE_DATE] [date] NULL,
	[PWD_APPLIED] [nvarchar](3) NULL,
	[PWD_TYPE] [nvarchar](10) NULL,
	[PWD_PERCENT] [decimal](3, 0) NULL,
	[AADHAR_NO] [decimal](12, 0) NULL,
	[EMAIL] [nvarchar](250) NULL,
	[MOBILE] [decimal](10, 0) NULL,
	[FATHER_NAME] [nvarchar](50) NULL,
	[MOTHER_NAME] [nvarchar](50) NULL,
	[GENDER] [nvarchar](10) NULL,
	[MARITAL_STATUS] [nvarchar](10) NULL,
	[NATIONALITY] [nvarchar](20) NULL,
	[RELIGION_NAME] [nvarchar](20) NULL,
	[OTHER_RELIGION] [nvarchar](20) NULL,
	[HOUSE_NO_CA] [nvarchar](150) NULL,
	[AREA_CA] [nvarchar](150) NULL,
	[LANDMARK_CA] [nvarchar](150) NULL,
	[CITY_CA] [nvarchar](150) NULL,
	[DISTRICT_CA] [nvarchar](150) NULL,
	[STATE_CA] [nvarchar](150) NULL,
	[PIN_CA] [decimal](8, 0) NULL,
	[POST_OFFICE_CA] [nvarchar](50) NULL,
	[RAILWAY_STATION_CA] [nvarchar](150) NULL,
	[HOUSE_NO_PA] [nvarchar](150) NULL,
	[AREA_PA] [nvarchar](150) NULL,
	[LANDMARK_PA] [nvarchar](150) NULL,
	[CITY_PA] [nvarchar](150) NULL,
	[DISTRICT_PA] [nvarchar](150) NULL,
	[STATE_PA] [nvarchar](150) NULL,
	[PIN_PA] [decimal](8, 0) NULL,
	[POST_OFFICE_PA] [nvarchar](50) NULL,
	[RAILWAY_STATION_PA] [nvarchar](150) NULL,
	[EX_SERVICE_MAN] [nvarchar](5) NULL,
	[EXP_YEAR] [numeric](3, 0) NULL,
	[EXP_MONTH] [numeric](3, 0) NULL,
	[EXP_DAY] [numeric](3, 0) NULL,
	[JK_DOMICILE] [nvarchar](5) NULL,
	[DOMICILE_DATE] [date] NULL,
	[PERSONALINFO_PAGE] [int] NULL,
	[EDUCATION_PAGE] [int] NULL,
	[EXPERIENCE_PAGE] [int] NULL,
	[DOCUMENT_PAGE] [int] NULL,
	[UPLOAD_PHOTO] [int] NULL,
	[UPLOAD_SIGN] [int] NULL,
	[UPLOAD_ADHAR] [int] NULL,
	[DATED] [datetime] NULL,
	[DOMICILE_STATE] [nvarchar](99) NULL,
	[NAC_NCTVT] [nvarchar](10) NULL,
	[NAC_NCTVT_PASSING_DATE] [nvarchar](15) NULL,
	[NAC_NCTVT_PERCENT] [numeric](8, 2) NULL,
	[NAC_UNIV] [nvarchar](150) NULL,
	[ESM_COURSE] [nvarchar](5) NULL,
	[ESM_CERT_NO] [nvarchar](30) NULL,
	[ESM_PASSING_DATE] [nvarchar](15) NULL,
	[RANK_HELD] [nvarchar](50) NULL,
	[JOINING_DATE] [nvarchar](15) NULL,
	[LEAVING_DATE] [nvarchar](15) NULL,
	[PERIOD] [nvarchar](30) NULL,
	[SHOW_ADVT] [int] NULL,
	[HAL_APPRENTICESHIP] [nvarchar](5) NULL,
	[HAL_JOINING_DATE] [nvarchar](10) NULL,
	[HAL_LEAVING_DATE] [nvarchar](10) NULL,
	[BOARD10_INST] [nvarchar](150) NULL,
	[BOARD10_NATURE] [nvarchar](20) NULL,
	[BOARD10_DURATION] [nvarchar](99) NULL,
	[BOARD10_SUBJECTS] [nvarchar](250) NULL,
	[BOARD10_DIVISION] [nvarchar](20) NULL,
	[BOARD10_PERCENT] [decimal](8, 2) NULL,
	[BOARD10_PASSING_DATE] [nvarchar](10) NULL,
	[BOARD12_INST] [nvarchar](150) NULL,
	[BOARD12_NATURE] [nvarchar](20) NULL,
	[BOARD12_DURATION] [nvarchar](99) NULL,
	[BOARD12_SUBJECTS] [nvarchar](250) NULL,
	[BOARD12_DIVISION] [nvarchar](20) NULL,
	[BOARD12_PERCENT] [decimal](8, 2) NULL,
	[BOARD12_PASSING_DATE] [nvarchar](10) NULL,
	[ITI_INST] [nvarchar](150) NULL,
	[ITI_NATURE] [nvarchar](20) NULL,
	[ITI_DURATION] [nvarchar](99) NULL,
	[ITI_SUBJECTS] [nvarchar](250) NULL,
	[ITI_DIVISION] [nvarchar](20) NULL,
	[ITI_PERCENT] [decimal](8, 2) NULL,
	[ITI_PASSING_DATE] [nvarchar](10) NULL,
	[DIPLOMA_INST] [nvarchar](150) NULL,
	[DIPLOMA_NATURE] [nvarchar](20) NULL,
	[DIPLOMA_DURATION] [nvarchar](99) NULL,
	[DIPLOMA_SUBJECTS] [nvarchar](250) NULL,
	[DIPLOMA_DIVISION] [nvarchar](20) NULL,
	[DIPLOMA_PERCENT] [decimal](8, 2) NULL,
	[DIPLOMA_PASSING_DATE] [nvarchar](10) NULL,
	[VRS_TAKEN] [nvarchar](5) NULL,
	[PWD_SUB] [nvarchar](10) NULL,
	[RELEVANT_EXP] [nvarchar](5) NULL,
	[REL_YEARS] [numeric](4, 0) NULL,
	[REL_MONTH] [numeric](4, 0) NULL,
	[REL_DAY] [numeric](4, 0) NULL,
	[ENROLL_DATE] [nvarchar](10) NULL,
	[DISCHARGE_DATE] [nvarchar](10) NULL,
	[INTERVIEWED_BY_HAL] [nvarchar](5) NULL,
	[POST_INTERVIEWED] [nvarchar](99) NULL,
	[INTERVIEWED_DATE] [nvarchar](10) NULL,
	[INTERVIEWED_VENUE] [nvarchar](150) NULL,
	[RELATIVE_WITH_HAL] [nvarchar](5) NULL,
	[RELATIVE_NAME] [nvarchar](150) NULL,
	[RELATIVE_DESIG] [nvarchar](99) NULL,
	[RELATIVE_DIVISION] [nvarchar](99) NULL,
	[RELATIVE_DESC] [nvarchar](150) NULL,
	[POLITICAL_RELATION] [nvarchar](5) NULL,
	[POLITICAL_PARTY_NAME] [nvarchar](150) NULL,
	[POLITICAL_ACTIVITY] [nvarchar](150) NULL,
	[POLITICAL_PERIOD] [nvarchar](15) NULL,
	[POLITICAL_PARTICIPATION] [nvarchar](150) NULL,
	[POLITICAL_OFFICE_HELD] [nvarchar](150) NULL,
	[REGISTERED_WITH] [nvarchar](50) NULL,
	[ORGANISATION_NAME1] [nvarchar](99) NULL,
	[DESIGNATION1] [nvarchar](50) NULL,
	[POST_TYPE1] [nvarchar](50) NULL,
	[JOB_TYPE1] [nvarchar](50) NULL,
	[JOIN_DATE1] [nvarchar](10) NULL,
	[END_DATE1] [nvarchar](10) NULL,
	[PAY_SCALE1] [nvarchar](20) NULL,
	[GROSS_PAY1] [numeric](18, 2) NULL,
	[LEAVING_REASON1] [nvarchar](150) NULL,
	[ORGANISATION_NAME2] [nvarchar](99) NULL,
	[DESIGNATION2] [nvarchar](50) NULL,
	[POST_TYPE2] [nvarchar](50) NULL,
	[JOB_TYPE2] [nvarchar](50) NULL,
	[JOIN_DATE2] [nvarchar](10) NULL,
	[END_DATE2] [nvarchar](10) NULL,
	[PAY_SCALE2] [nvarchar](20) NULL,
	[GROSS_PAY2] [numeric](18, 2) NULL,
	[LEAVING_REASON2] [nvarchar](150) NULL,
	[ORGANISATION_NAME3] [nvarchar](99) NULL,
	[DESIGNATION3] [nvarchar](50) NULL,
	[POST_TYPE3] [nvarchar](50) NULL,
	[JOB_TYPE3] [nvarchar](50) NULL,
	[JOIN_DATE3] [nvarchar](10) NULL,
	[END_DATE3] [nvarchar](10) NULL,
	[PAY_SCALE3] [nvarchar](20) NULL,
	[GROSS_PAY3] [numeric](18, 2) NULL,
	[LEAVING_REASON3] [nvarchar](150) NULL,
	[ORGANISATION_NAME4] [nvarchar](99) NULL,
	[DESIGNATION4] [nvarchar](50) NULL,
	[POST_TYPE4] [nvarchar](50) NULL,
	[JOB_TYPE4] [nvarchar](50) NULL,
	[JOIN_DATE4] [nvarchar](10) NULL,
	[END_DATE4] [nvarchar](10) NULL,
	[PAY_SCALE4] [nvarchar](20) NULL,
	[GROSS_PAY4] [numeric](18, 2) NULL,
	[LEAVING_REASON4] [nvarchar](150) NULL,
	[ORGANISATION_NAME5] [nvarchar](99) NULL,
	[DESIGNATION5] [nvarchar](50) NULL,
	[POST_TYPE5] [nvarchar](50) NULL,
	[JOB_TYPE5] [nvarchar](50) NULL,
	[JOIN_DATE5] [nvarchar](10) NULL,
	[END_DATE5] [nvarchar](10) NULL,
	[PAY_SCALE5] [nvarchar](20) NULL,
	[GROSS_PAY5] [numeric](18, 2) NULL,
	[LEAVING_REASON5] [nvarchar](150) NULL,
	[ORGANISATION_NAME6] [nvarchar](99) NULL,
	[DESIGNATION6] [nvarchar](50) NULL,
	[POST_TYPE6] [nvarchar](50) NULL,
	[JOB_TYPE6] [nvarchar](50) NULL,
	[JOIN_DATE6] [nvarchar](10) NULL,
	[END_DATE6] [nvarchar](10) NULL,
	[PAY_SCALE6] [nvarchar](20) NULL,
	[GROSS_PAY6] [numeric](18, 2) NULL,
	[LEAVING_REASON6] [nvarchar](150) NULL,
	[ORGANISATION_NAME7] [nvarchar](99) NULL,
	[DESIGNATION7] [nvarchar](50) NULL,
	[POST_TYPE7] [nvarchar](50) NULL,
	[JOB_TYPE7] [nvarchar](50) NULL,
	[JOIN_DATE7] [nvarchar](10) NULL,
	[END_DATE7] [nvarchar](10) NULL,
	[PAY_SCALE7] [nvarchar](20) NULL,
	[GROSS_PAY7] [numeric](18, 2) NULL,
	[LEAVING_REASON7] [nvarchar](150) NULL,
	[ORGANISATION_NAME_TRAINING1] [nvarchar](199) NULL,
	[PROGRAM_NAME_TRAINING1] [nvarchar](250) NULL,
	[JOIN_DATE_TRAINING1] [nvarchar](10) NULL,
	[END_DATE_TRAINING1] [nvarchar](10) NULL,
	[ORGANISATION_NAME_TRAINING2] [nvarchar](199) NULL,
	[PROGRAM_NAME_TRAINING2] [nvarchar](250) NULL,
	[JOIN_DATE_TRAINING2] [nvarchar](10) NULL,
	[END_DATE_TRAINING2] [nvarchar](10) NULL,
	[ORGANISATION_NAME_TRAINING3] [nvarchar](199) NULL,
	[PROGRAM_NAME_TRAINING3] [nvarchar](250) NULL,
	[JOIN_DATE_TRAINING3] [nvarchar](10) NULL,
	[END_DATE_TRAINING3] [nvarchar](10) NULL,
	[ORGANISATION_NAME_TRAINING4] [nvarchar](199) NULL,
	[PROGRAM_NAME_TRAINING4] [nvarchar](250) NULL,
	[JOIN_DATE_TRAINING4] [nvarchar](10) NULL,
	[END_DATE_TRAINING4] [nvarchar](10) NULL,
	[ORGANISATION_NAME_TRAINING5] [nvarchar](199) NULL,
	[PROGRAM_NAME_TRAINING5] [nvarchar](250) NULL,
	[JOIN_DATE_TRAINING5] [nvarchar](10) NULL,
	[END_DATE_TRAINING5] [nvarchar](10) NULL,
	[ADMIT_CARD_SEND] [int] NULL,
	[NOT_ELIGIBLE_REASON] [nvarchar](350) NULL,
	[ORGANISATION_NAME_EXP1] [nvarchar](99) NULL,
	[DESIGNATION_EXP1] [nvarchar](50) NULL,
	[SALARY_PM_EXP1] [numeric](18, 2) NULL,
	[JOIN_DATE_EXP1] [nvarchar](10) NULL,
	[END_DATE_EXP1] [nvarchar](10) NULL,
	[PERIOD_EXP1] [nvarchar](50) NULL,
	[REMARKS_EXP1] [nvarchar](250) NULL,
	[DAYS_EXP1] [numeric](4, 0) NULL,
	[ORGANISATION_NAME_EXP2] [nvarchar](99) NULL,
	[DESIGNATION_EXP2] [nvarchar](50) NULL,
	[SALARY_PM_EXP2] [numeric](18, 2) NULL,
	[JOIN_DATE_EXP2] [nvarchar](10) NULL,
	[END_DATE_EXP2] [nvarchar](10) NULL,
	[PERIOD_EXP2] [nvarchar](50) NULL,
	[REMARKS_EXP2] [nvarchar](250) NULL,
	[DAYS_EXP2] [numeric](4, 0) NULL,
	[ORGANISATION_NAME_EXP3] [nvarchar](99) NULL,
	[DESIGNATION_EXP3] [nvarchar](50) NULL,
	[SALARY_PM_EXP3] [numeric](18, 2) NULL,
	[JOIN_DATE_EXP3] [nvarchar](10) NULL,
	[END_DATE_EXP3] [nvarchar](10) NULL,
	[PERIOD_EXP3] [nvarchar](50) NULL,
	[REMARKS_EXP3] [nvarchar](250) NULL,
	[DAYS_EXP3] [numeric](4, 0) NULL,
	[ORGANISATION_NAME_EXP4] [nvarchar](99) NULL,
	[DESIGNATION_EXP4] [nvarchar](50) NULL,
	[SALARY_PM_EXP4] [numeric](18, 2) NULL,
	[JOIN_DATE_EXP4] [nvarchar](10) NULL,
	[END_DATE_EXP4] [nvarchar](10) NULL,
	[PERIOD_EXP4] [nvarchar](50) NULL,
	[REMARKS_EXP4] [nvarchar](250) NULL,
	[DAYS_EXP4] [numeric](4, 0) NULL,
	[ORGANISATION_NAME_EXP5] [nvarchar](99) NULL,
	[DESIGNATION_EXP5] [nvarchar](50) NULL,
	[SALARY_PM_EXP5] [numeric](18, 2) NULL,
	[JOIN_DATE_EXP5] [nvarchar](10) NULL,
	[END_DATE_EXP5] [nvarchar](10) NULL,
	[PERIOD_EXP5] [nvarchar](50) NULL,
	[REMARKS_EXP5] [nvarchar](250) NULL,
	[DAYS_EXP5] [numeric](4, 0) NULL,
	[ORGANISATION_NAME_TRAINING11] [nvarchar](150) NULL,
	[PROGRAM_NAME_TRAINING11] [nvarchar](99) NULL,
	[JOIN_DATE_TRAINING11] [nvarchar](10) NULL,
	[END_DATE_TRAINING11] [nvarchar](10) NULL,
	[ORGANISATION_NAME_TRAINING21] [nvarchar](150) NULL,
	[PROGRAM_NAME_TRAINING21] [nvarchar](99) NULL,
	[JOIN_DATE_TRAINING21] [nvarchar](10) NULL,
	[END_DATE_TRAINING21] [nvarchar](10) NULL,
	[SAME_ADDRESS] [int] NULL,
	[RANK_HELD2] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMAIL_VERIFICATION]    Script Date: 30-07-2024 18:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAIL_VERIFICATION](
	[SEQ] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[EMAIL] [nvarchar](250) NOT NULL,
	[OTP] [decimal](8, 0) NOT NULL,
	[VERIFIED] [decimal](1, 0) NULL,
	[DATED] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INDIAN_STATES]    Script Date: 30-07-2024 18:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDIAN_STATES](
	[STATE_NAME] [nvarchar](50) NULL,
	[SEQ] [decimal](18, 0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGGER]    Script Date: 30-07-2024 18:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGGER](
	[SLN] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[USERID] [nvarchar](20) NOT NULL,
	[IP_ADDRESS] [nvarchar](20) NULL,
	[DATED] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POST_EDU_AGE]    Script Date: 30-07-2024 18:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST_EDU_AGE](
	[ID] [float] NULL,
	[DISCIPLINE] [nvarchar](255) NULL,
	[Post_UR] [float] NULL,
	[Post_EWS] [float] NULL,
	[Post_SC] [float] NULL,
	[Post_ST] [float] NULL,
	[Post_OBC] [float] NULL,
	[Post_PWD] [float] NULL,
	[Edu_10th] [float] NULL,
	[Edu_12th] [float] NULL,
	[Edu_ITI] [float] NULL,
	[NAC] [float] NULL,
	[Edu_Diploma] [float] NULL,
	[Per_UR] [float] NULL,
	[Per_EWS] [float] NULL,
	[Per_SC] [float] NULL,
	[Per_ST] [float] NULL,
	[Per_OBC] [float] NULL,
	[Per_PwBD] [float] NULL,
	[Age_UR] [float] NULL,
	[Age_EWS] [float] NULL,
	[Age_SC] [float] NULL,
	[Age_ST] [float] NULL,
	[Age_OBC] [float] NULL,
	[PWD_UR] [float] NULL,
	[PWD_EWS] [float] NULL,
	[PWD_SC] [float] NULL,
	[PWD_ST] [float] NULL,
	[PWD_OBC] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POST_PWD]    Script Date: 30-07-2024 18:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST_PWD](
	[SEQ] [int] IDENTITY(1,1) NOT NULL,
	[POST_NAME] [nvarchar](255) NULL,
	[PWD_TYPE] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PWD_TYPES]    Script Date: 30-07-2024 18:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PWD_TYPES](
	[SEQ] [decimal](18, 0) NULL,
	[NAME] [nvarchar](20) NULL,
	[DESCS] [nvarchar](200) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UTILITY]    Script Date: 30-07-2024 18:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILITY](
	[REGISTRATION_PROCESS_ONLINE] [int] NULL,
	[OTHER_PROCESS_ONLINE] [int] NULL,
	[PAYMENT_PROCESS_ONLINE] [int] NULL,
	[LOGIN_PROCESS_ONLINE] [int] NULL,
	[TIMESUP_MSG] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
